<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - Debugging</title>
    <link rel="stylesheet" href="/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/debug.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
    <h1>{{ title }}</h1>
    </div>

    <div class="container">
    {{#if __USERS }}

    <table class="table table-hover">
    <p>
    Scoring：難 = 5, 中 = 3, 易 = 2.
    </p>
    <thead>
      <tr>
        <th>Rank #</th>
        <th>Name</th>
        <th>Photo</th>
        <th>FB ID</th>
        <th>Score</th>
        <th>Last updated at</th>
      </tr>
    </thead>
    <tbody>
    {{#each dataset }}
      <tr>
        <td>{{ __cnt }}</td>
        <td>{{#if name}}{{ name }}{{else }}--NO NAME--{{/if }}</td>
        <td>{{#if avatar}}<img class="img-thumbnail" src="http://graph.facebook.com/{{ fb_id }}/picture?type=large">{{/if }}</td>
        <td>{{ fb_id }}</td>
        <td>{{ score }}</td>
        <td>{{ updated_at }}</td>
      </tr>
    {{/each }}

    {{else if __MISSIONS }}

    <p>
    任務關鍵字解析規則：<code>NTU</code> + 英文數字字串，不分大小寫。
    </p>
    <table class="table table-hover table-category">
    <thead>
      <tr>
        <th>ID</th>
        <!--<th>次分類</th>-->
        <th>標題</th>
        <th>難度</th>
        <th>任務關鍵字</th>
      </tr>
    </thead>
    <tbody>
    {{#each dataset }}
        <tr>
          <td class="category-label" colspan="4">{{ label }}</td>
        </tr>
      {{#each list }}
        <tr class="row-{{ category }} difficulty-{{ difficulty }}">
          <td>{{ id }}</td>
          <td>{{ title }}</td>
          <td>{{ __difficulty }}</td>
          <td>{{ hash }}</td>
        </tr>
      {{/each }}
    {{/each }}
    </tbody>
    </table>

    {{else if __LOG }}
    <p>
      For debugging only, mostly.
    </p>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>圖片</th>
        <th>content</th>
        <th>讚數</th>
        <th>timestamp</th>
        <th>User ID</th>
        <th>Mission ID</th>
      </tr>
    </thead>
    <tbody>
    {{#each dataset }}
      <tr>
        <td>{{ id }}</td>
        <td>{{#if photo_url}}<img class="img-thumbnail img-fb-photo" src="{{ photo_url }}">{{/if }}</td>
        <td class="debug-main-content">{{{ __content }}}</td>
        <td>{{ likes }}</td>
        <td>{{ fb_ts }}</td>
        <td>{{ user_id }}</td>
        <td>{{ mission_id }}</td>
      </tr>
    {{/each }}
    </tbody>
    </table>


    {{else }}
      ERROR! DOES NOT SPECIFY DATASET ATTR!
    {{/if }}
    </div>
</body>
</html>
