<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - Debugging</title>
    <link rel="stylesheet" href="/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/debug.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
    <h1>{{ title }}</h1>
    </div>

    <div class="container">
    {{#if __USERS }}

    <table class="table table-hover">
    <p>
    分數計算規則：'一般 = <code>2</code>, 進階 = <code>3</code>, 挑戰 = <code>5</code>.
    </p>
    <thead>
      <tr>
        <th>Rank #</th>
        <th>Photo</th>
        <th>Name</th>
        <th>Score</th>
        <th>Last updated at</th>
      </tr>
    </thead>
    <tbody>
    {{#each dataset }}
      <tr>
        <td>{{ __cnt }}</td>
        <td>
        {{#if avatar}}
          <img class="img-thumbnail img-fb-avatar" src="http://graph.facebook.com/{{ fb_id }}/picture?type=large">
        {{/if }}
        </td>
        <td>
        {{#if name}}
          <span class="debug-fb-name">{{ name }}</span>
        {{else }}
          --NO NAME--
        {{/if }}<br/>
          {{ fb_id }}
        </td>
        <td class="debug-score-number">{{ score }}</td>
        <td>{{ date updated_at }}</td>
      </tr>
    {{/each }}

    {{else if __MISSIONS }}

    <p>
    任務關鍵字解析規則：<code>NTU</code> + 英文數字字串，不分大小寫。
    </p>
    <table class="table table-hover table-category">
    <thead>
      <tr>
        <th>任務關鍵字</th>
        <!--<th>次分類</th>-->
        <th>標題</th>
        <th>難度</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
    {{#each dataset }}
        <tr>
          <td class="category-label" colspan="4">{{ label }}</td>
        </tr>
      {{#each list }}
        <tr class="row-{{ category }} difficulty-{{ difficulty }}">
          <td>{{ hash }}</td>
          <td>{{ title }}</td>
          <td>{{ __difficulty }}</td>
          <td>{{ id }}</td>
        </tr>
      {{/each }}
    {{/each }}
    </tbody>
    </table>

    {{else if __LOG }}
    <p>
      For debugging only, mostly.
    </p>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>圖片</th>
        <th>content</th>
        <th>讚數</th>
        <th>timestamp</th>
        <th>User</th>
        <th>Mission ID</th>
      </tr>
    </thead>
    <tbody>
    {{#each dataset }}
      <tr>
        <td>{{ id }}</td>
        <td>{{#if photo_url}}<img class="img-thumbnail img-fb-photo" src="{{ photo_url }}">{{/if }}</td>
        <td class="debug-main-content">{{{ __content }}}</td>
        <td>{{ likes }}</td>
        <td>{{ date fb_ts }}</td>
        <td>
        {{ user.name }}<br>
        {{#if user.avatar}}
          <img class="img-thumbnail img-fb-avatar" src="http://graph.facebook.com/{{ user.fb_id }}/picture">
        {{/if }}
        </td>
        <td>
        {{#if mission }}
          <span class="mission-hashtag">#{{ mission.hash }}</span><br>
          {{ mission.title }}
        {{/if }}
        </td>
      </tr>
    {{/each }}
    </tbody>
    </table>


    {{else }}
      ERROR! DOES NOT SPECIFY DATASET ATTR!
    {{/if }}
    </div>
</body>
</html>
