<!DOCTYPE html>
<html>
<head>
  <title>排名 - 臺大總動員</title>
  <link rel="stylesheet" href="/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/debug.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container" style="max-width: 40em;">
  <h1>排名 - 臺大總動員</h1>
  </div>

  <div class="container" style="max-width: 40em;">

  <table class="table table-hover table-category">
  <p>
  分數計算規則：一般 = <code>2</code>, 進階 = <code>3</code>, 挑戰 = <code>5</code>.<br>
  排名10分鐘更新一次。最後更新：{{ date lastUpdated }}。<br>
  若是貼文後排行榜更新仍未見分數增加，請確定「Hashtag的方式正確(半形 #NTUXXX)」並且「tag的ID符合貼文」。
  </p>
  <!--<div class="alert alert-warning" role="alert">
    <b>任務列表更新</b> 已於 5/5(四) 新增了 11 個新任務，但由於系統負擔繁重，尚未將新的任務整合進計分流程中，因此新任務的分數不會更新，還請稍待。
  </div>-->
  <thead>
    <tr>
      <th>名次 #</th>
      <th>照片</th>
      <th>姓名</th>
      <th>積分</th>
    </tr>
  </thead>
  <tfoot><tr><td colspan="4">
    {{#if nextPageOffset }}<a href="?offset={{ nextPageOffset }}">下一頁 →</a>{{/if }}
  </td></tr></tfoot>
  <tbody>
  {{#each dataset }}
    <tr>
      <td style="vertical-align: middle; font-size: 1.6em;">{{ __cnt }}</td>
      <td>
      {{#if avatar}}
        <img class="img-thumbnail img-fb-avatar" src="http://graph.facebook.com/{{ fb_id }}/picture?type=large">
      {{/if }}
      </td>
      <td>
      {{#if name}}
        <span class="debug-fb-name">{{ name }}</span>
      {{else }}
        --無名--
      {{/if }}
      </td>
      <td class="debug-score-number">{{ score }}</td>
    </tr>
  {{/each }}
  </tbody>
  </div>
</body>
</html>
