<!DOCTYPE html>
<html>
<head>
  <title>團隊排名 - 臺大總動員</title>
  <link rel="stylesheet" href="/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/debug.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container" style="max-width: 40em;">
  <h1>團隊排名 - 臺大總動員</h1>
  </div>

  <div class="container" style="max-width: 40em;">

  <ul class="nav nav-pills nav-justified">
    <li               ><a href="/"                 >個人排名</a>
    <li class="active"><a href="javascript:void(0)">團隊排名 (NEW!)</a>
  </ul>

  <p>
    排名更新與使用者總分連動。分組名單最後更新：2016/5/13 AM12，若有誤請向粉絲專頁反映。
  </p>

  <table class="table table-hover table-category">
  <thead>
    <tr>
      <th>名次&nbsp;#</th>
      <th>組名&nbsp;/&nbsp;組員</th>
      <th>總分</th>
    </tr>
  </thead>
  <tfoot><tr><td colspan="4">
    <!-- Andy Pan, 2016/5/12, see /api for hidden tests -->
  </td></tr></tfoot>
  <tbody>
  {{#each dataset }}
    <tr id="row-{{ __cnt }}">
      <td style="vertical-align: middle; font-size: 1.6em;">{{ __cnt }}</td>
      <td>
        <div class="debug-team-name text-info">{{ name }}</div>
      {{#if user1}}
        <img class="img-fb-avatar-indiv" src="http://graph.facebook.com/{{ user1.fb_id }}/picture?type=large">
        <span class="debug-fb-name-indiv">{{ user1.name }}</span>
        <span class="debug-score-number-indiv">{{ user1.score }}</span>
      {{/if }}
      {{#if user2}} |
        <img class="img-fb-avatar-indiv" src="http://graph.facebook.com/{{ user2.fb_id }}/picture?type=large">
        <span class="debug-fb-name-indiv">{{ user2.name }}</span>
        <span class="debug-score-number-indiv">{{ user2.score }}</span>
      {{/if }}
      {{#if user3}} |
        <img class="img-fb-avatar-indiv" src="http://graph.facebook.com/{{ user3.fb_id }}/picture?type=large">
        <span class="debug-fb-name-indiv">{{ user3.name }}</span>
        <span class="debug-score-number-indiv">{{ user3.score }}</span>
      {{/if }}
      </td>

      <td class="debug-score-number">{{ score_total }}</td>
    </tr>
  {{/each }}
  </tbody>
  </div>
</body>
</html>
